@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@100;700&display=swap');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    color: var(--txt);
    display: flex;
    width: 100vw;
    height: 100vh;
}

:root {
    --bgv:  #A491d2;
    --bgh:  #cdc3e6;
    --txt:  #1b1f21;
    --fcs:  #bec1bb;
    --plt:  #e8ebe4;

}

.chat {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
}

.msg {
    width: 80vw;
    height: 100vh;
    background-color: var(--plt);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
}

.header-profile {
    display: flex;
    padding: 10px 40px 10px 40px;
    height: 30%;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid var(--plt);
}

.profile {
    display: flex;
    width: auto;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.profile img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.profile-text {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-text h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.profile-text p {
    margin: 0;
    font-size: 1.2rem;
    color: var(--fcs);
}

.header-profile .icon {
    display: flex;
    font-size: 2rem;
    gap: 1rem;
    cursor: pointer;
}

.header-profile .icon ion-icon {
    color: var(--fcs);
    transition: 0.5s ease;
}

.header-profile .icon ion-icon:hover {
    color: rgb(0, 0, 0);
}

.new-chat {
    border-bottom: solid var(--plt);
    display: flex;
    width:100%;
    height: 70%;
    justify-content: center;
    align-items: center;
}

.new-chat a {
    width: 60%;
    height: 40%;
}

.new-chat button {
    cursor: pointer;
    border: none;
    background-color: var(--bgv) ;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
}

.new-chat button:hover {
    background-color: var(--bgh);
}

.new-chat button:focus {
    background-color: var(--fcs);
}


.new-chat button span {
    color: white;
    font-size: 1rem;
    font-weight: lighter;
}

.chat-msg {
    width: 100%;
    height: 100%;
}

.chat-person {
    display: flex;
    width: calc(100% - 40px);
    height: 10vh;
    align-items: center;
    justify-content: start;
    border-bottom: solid var(--plt);
    gap: 20px;
    padding: 0px 20px;
    cursor: pointer;
    transition: 0.5s ease;
}

.chat-person:hover {
    background-color: var(--plt);
}

.chat-person img {
    width: 70px;
    height: auto;
    border-radius: 50%;    
}

.chat-person h3 {
    margin: 0;
    font-size: 1.5rem;
}

.chat-text p {
    margin: 0;
    font-size: 1.2rem;
}

.content-msg {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-msg img { 
    width: 50%;
    border-radius: 0.5rem;
}

.container-text {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-text h1 {
    margin: 2rem 0 0 0;
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
}

.container-text p {
    margin: 0;
    font-size: 1.5rem;
    font-weight: lighter;
    text-align: center;
}

.container-text p span {
    font-weight: bold;
}